{{#each this}}
<div class="country-card">
   <div class="country-card__meta">
      <h2 class="country-card__name">{{name}}</h2>
      <p class="country-card__capital"><span class="bold">Capital: </span>{{capital}}</p>      
      <p class="country-card__population"><span class="bold">Population: </span>{{population}}</p>
      <p class="country-card__languages-title">Language:</p>
      <ul class="country-card__languages">
         {{#each languages}}
            <li class="country-card__language">{{this.nativeName}}</li>
         {{/each}}
      </ul>
   </div>
   <div class="country-card__flag-wrapper">
      <img src="{{flag}}" alt="" class="country-card__flag">
   </div>
</div>
{{/each}}